<!DOCTYPE html>
<html>
<head>
    <title>PodDigest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/style.css" />
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1 class="text-center">PodDigest</h1>
            <p>Podcast insights made simple</p>
        </div>
    </header>
    <main class="container container-body my-4">
        <div class="loader">
            <div class="loader-img-container">
                <img src="static/images/722736.png" />
            </div>
        </div>
        <form method="POST" onsubmit="handleSubmit()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="video_url" placeholder="Paste a YouTube video link...">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="submit" ><i class="fas fa-search"></i> Summarize</button>
                </div>
            </div>
        </form>
        {% if summary %}
            <h2>Summary:</h2>
            <p id="summary">{{ summary }}</p>
            <p>Original video: <a href="{{ video_url }}">{{ video_url }}</a></p>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </main>
    <footer class="bg-dark text-white py-3">
        <div class="container">
            <p class="text-center">Made with <i class="fa-solid fa-heart heart-icon"></i> by Shubratha, Prince </p>

        </div>
    </footer>
    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1234567890.js" crossorigin="anonymous"></script>

<script>
    function handleSubmit(ev) {
        console.log('form submit', ev)
        var loaderEl = document.querySelector('.loader')
        loaderEl.classList.add("loader-active")
    }

    function resetLoader() {
        var loaderEl = document.querySelector('.loader-img-container')
        loaderEl.classList.remove("loader-active")
    }
</script>

</body>
</html>